.App header nav ul {
  list-style: none;
}

.App header nav ul li {
  display: inline-block;
  margin: 0 20px;
}

.App header nav ul li a {
  text-decoration: none;
  color: black;
}

.App header nav ul li a:hover,
.App header nav ul li a.active {
  text-shadow: 1px 0 0 black;
}
